<div fxLayout="column" fxFlexFill>
  <mat-card class="example-card" fxFlex="100">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Park Seminario</mat-card-title>
          <mat-card-subtitle>Alquiler</mat-card-subtitle>
      </mat-card-header>
      <!--img mat-card-image class="imagen" src="../../../assets/image/46371023292_e2d2ab6ebb_m.jpg"-->
      <mat-card-content>
          <p>
            Alquile nuestros autos con su Documento de identidad, una licencia de conducción y una tarjeta de crédito con cupo disponible. Reserve su vehículo sin costo (No requerimos anticipados), Vehículos como nuevos, renovamos nuestra flota cada 2 años.
          </p>
      </mat-card-content>

  </mat-card>
</div>