<div class="container" fxLayout="column" fxFlexFill>



  <div class="header" fxFlex="20" fxLayout="column">


    <div class="menu-content" fxFlex="100" fxLayout="row">

      <div class="menu-header" fxFlex="50" fxLayout="row" fxLayoutAlign="center">
        <div class="titulo">
          <label>
            <strong>
              Park Seminario
            </strong>
          </label>
          <i class="material-icons">
            directions_car
          </i>
        </div>



      </div>
      <div class="menu" fxFlex="50" fxLayout="row" fxLayoutAlign="start">

        <button mat-button [routerLink]="['home']" [routerLinkActive]="['activado']">Home</button>
        <button mat-button [matMenuTriggerFor]="menu">Vehiculo</button>
        <mat-menu #menu="matMenu" class="menu-con">
          <button mat-menu-item>Adicionar Vehiculo</button>
          <button mat-menu-item>Listar Vehiculo</button>
        </mat-menu>

      </div>
    </div>
  </div>

  <div class="content" fxFlex="70" fxLayout="row" fxLayoutAlign="center">
    <router-outlet>
      </router-outlet>
  </div>
  <div class="footer" fxFlex="5" fxLayout="row" id="footer" fxLayoutAlign="center">

  </div>


</div>